<!-- Header -->
<header class="bg-white text-dark border-bottom sticky-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
       
       
          <a class="navbar-brand" href="/community">
            <img width="175" height="33" alt="Wikimint Community" src="/community/assets/images/wikimint-logo.webp"/>
        </a>

          <span class="d-flex align-items-center ms-auto float-end  d-md-none">
            <span class="nav-item me-3 guest-only">
                <button class="btn btn-primary rounded-2 wmsignin" data-bs-toggle="modal" data-bs-target="#signin">Sign in</button>
            </span>
            
            <span class="nav-item me-3 member-only">
              <div class="btn-group">
                  <i class="bi bi-person-circle p-0 m-0 rounded-circle fs-4" data-bs-toggle="dropdown" aria-expanded="false"></i>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="nav-link" href="/community/dashboard"><button class="dropdown-item m-name">Dashboard</button></a></li>
                  <li><a class="nav-link" href="/community/dashboard"><button class="dropdown-item">Dashboard</button></a></li>
                  <li><a class="nav-link m-link" href="#"><button class="dropdown-item" type="button">My profile</button></a></li>
                  <li class="wmlogout"><button class="dropdown-item text-danger" type="button">Logout</button></li>

                </ul>
              </div>
            </span>          
        </span>

        <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/community/user">All members</a>
            </li>
            <li class="nav-item guest-only">
              <a class="nav-link" href="/community">Join now</a>
            </li>
          </ul>
        </div>

        <span class="d-flex align-items-center ms-auto float-end  d-none d-md-block">
          <span class="nav-item ms-3 guest-only">
              <button class="btn btn-primary rounded-2 wmsignin" data-bs-toggle="modal" data-bs-target="#signin">Sign in</button>
          </span>
          
          <span class="nav-item ms-3 member-only">
            <div class="btn-group">
                <i class="bi bi-person-circle p-0 m-0 rounded-circle fs-4" data-bs-toggle="dropdown" aria-expanded="false"></i>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="nav-link" href="/community/dashboard"><button class="dropdown-item m-name">Dashboard</button></a></li>
                <li><a class="nav-link" href="/community/dashboard"><button class="dropdown-item">Dashboard</button></a></li>
                <li><a class="nav-link m-link" href="#"><button class="dropdown-item" type="button">My profile</button></a></li>
                <li class="wmlogout"><button class="dropdown-item text-danger" type="button">Logout</button></li>

              </ul>
            </div>
          </span>          
      </span>


      </nav>
    </div>
  </header>