<div class="container">
<div class="section404">
  <p class="display-6 fw-bold text-center my-5">404 Page not found</p>
  <hr/>
  </div>


  <div class="profile-created author-only mt-5">
    <div class="alert alert-success text-center" role="alert">
You profile was created successfully! Please wait few seconds to get updated.</div>
    </div>

    <div class="row mt-5">
    <div class="col-md-8 mb-4">
     <h1 class="mb-4">Register Your Account <span class="lead d-block mt-3">Showcase Your Expertise for Free</span></h1><hr/>
     <p>Unlock the power of collaboration and knowledge sharing with the Wikimint Community. Whether you're passionate about writing insightful articles, joining engaging discussions, participating in fun contests, or earning points and badges for your contributions, Wikimint is the place for you. Start your journey today and become part of a vibrant network where your ideas and opinions are valued.</p>
   <div class="register-btn">
   <button class="btn btn-lg btn-primary mb-4 wmsignin guest-only" data-bs-toggle="modal" data-bs-target="#signin">Join the Community</button>
   </div>
   
   <div class="register-card">
     <div class="card p-3 bg-light">
     <div class="card-body">
      <div id="reg_notes" class="text-center my-5"></div>
     <form id="userDataForm" class="mt-3" method="post" target="wmreg" action="about:blank">
           <input type="hidden" id="userid" name="u" value="">
           <input type="hidden" id="dp" name="dp">
         <div class="form-group">
           <label class="form-label mt-3" for="name">Name</label>
           <input type="text" class="form-control" id="name" name="n" required>
         </div>
         <div class="form-group">
           <label class="form-label mt-3" for="title">Title</label>
           <input type="text" class="form-control" id="title" name="t" required>
         </div>
         <div class="form-group">
           <label class="form-label mt-3" for="website">Website</label>
           <input type="url" class="form-control" id="website" name="w">
         </div>
         <div class="form-group">
           <label class="form-label mt-3" for="description">Description</label>
           <textarea class="form-control" id="description" max="1000" name="d"></textarea>
         </div>
         <div class="form-group">
           <label class="form-label mt-3" for="facebook">Facebook URL</label>
           <input type="url" class="form-control" id="facebook" name="f">
         </div>
         <div class="form-group">
           <label class="form-label mt-3" for="twitter">Twitter URL</label>
           <input type="url" class="form-control" id="twitter" name="x">
         </div>
         <div class="form-group">
           <label class="form-label mt-3" for="linkedin">LinkedIn URL</label>
           <input type="url" class="form-control" id="linkedin" name="l">
         </div>
         <div class="form-group">
           <label class="form-label mt-3" for="instagram">Instagram URL</label>
           <input type="url" class="form-control" id="instagram" name="i">
         </div>
         <div class="form-group">
           <label class="form-label mt-3" for="youtube">YouTube URL</label>
           <input type="url" class="form-control" id="youtube" name="y">
         </div>
         <button type="submit" class="btn btn-primary mt-3">
          <span class="loader">
            <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
          <span role="status">Processing...</span>
        </span>
          <span class="default-status">Register</span>
         </button>
     </form>
     </div>
     </div>
     </div>
     </div>
     <div class="col-md-4">
   <h2>Why Join the Wikimint Community?</h2>
   
   <p>Becoming a member of the Wikimint Community opens the door to a world of creative engagement and meaningful interactions. You'll connect with like-minded individuals who share your interests in writing, sharing knowledge, and learning from each other.</p>
   <p>Participate in exclusive contests that challenge your creativity, earn points and badges that recognize your achievements, and gain valuable feedback through comments and discussions. With every post and interaction, you build your reputation and establish yourself as a thought leader in the community.</p>
   <p>Join today to start earning rewards for your contributions and make your voice heard in an environment that thrives on collaboration and growth.</p>
     </div>
     </div>
   
   
   <script>
   
   
   
   </script>
     {% assign ver = site.data.config.v %}
   <script src="/community/assets/js/wmreg.js?v={{site.data.config.v}}"></script>